@model AnketProjesi.Models.FormData
@{
    ViewData["Title"] = "Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Kişi Bilgisi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/anket.css">
    
</head>
<body>
    <div class="form-container">
        <div class="form-box">
            <form action="/Home/SubmitForm" class="form-group" method="post" id="surveyForm">
               
                <h2>Tip</h2>
                <div class="d-flex flex-wrap">
                    @foreach (var item in ViewBag.Tip)
                    {
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" name="Tip" id="@item.Value" value="@item.Value">
                            <label class="form-check-label" for="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>

                <h2>Meslek</h2>
                @foreach (var item in ViewBag.Tur)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Meslek" id="@item.Value" value="@item.Value">
                        <label class="form-check-label" for="@item.Value">@item.Text</label>
                    </div>
                }

                <h2>Sorular</h2>
                @for (int i = 0; i < ViewBag.Sorular.Count; i++)
                {
                    <div class="form-check">
                        <p>@ViewBag.Sorular[i].Text</p>
                        <div class="d-flex flex-column">
                            <div class="form-check">
                                <input type="radio" id="veryGood_@ViewBag.Sorular[i].Value" name="Sorular[@i].Rating" value="a" class="form-check-input">
                                <label for="veryGood_@ViewBag.Sorular[i].Value" class="form-check-label">Çok İyi</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="good_@ViewBag.Sorular[i].Value" name="Sorular[@i].Rating" value="b" class="form-check-input">
                                <label for="good_@ViewBag.Sorular[i].Value" class="form-check-label">İyi</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="bad_@ViewBag.Sorular[i].Value" name="Sorular[@i].Rating" value="c" class="form-check-input">
                                <label for="bad_@ViewBag.Sorular[i].Value" class="form-check-label">Kötü</label>
                            </div>
                        </div>
                        <input type="hidden" name="Sorular[@i].QuestionId" value="@ViewBag.Sorular[i].Value" />
                    </div>
                }
                <input type="hidden" id="totalQuestions" value="@ViewBag.Sorular.Count" /> <!-- Soruların toplam sayısını ekleyin -->
                
                <div class="submit-button-container">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('surveyForm').addEventListener('submit', function (event) {
            // Toplamda 6 adet seçili radio butonu olup olmadığını kontrol et
            var selectedRadioCount = document.querySelectorAll('input[type="radio"]:checked').length;
            var totalQuestions = parseInt(document.getElementById('totalQuestions').value);
            if (selectedRadioCount < totalQuestions+2) {
                // Kullanıcıyı bilgilendir
                alert("Lütfen tüm sorulara cevap veriniz.");
                // Sayfanın yeniden yüklenmesi yerine formu geri gönder
                event.preventDefault(); // Formun gönderilmesini durdur
            }
        });
    </script>
</body>
</html>
