@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anket Sonuçları</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <style>
        .charts-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            justify-content: center;
            padding: 20px;
        }

        .chart {
            width: 95%;
            height: 403px;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            transition: background-color 0.3s ease, box-shadow 0.8s ease; /* Geçiş sürelerini ayarladık */
        }

            .chart:hover {
                background-color: #e9ecef;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            }

    </style>
</head>
<body>
    <div class="container">
        <h2>Genel Ortalama</h2>
        <br />
        <p>A yüzdesi: @string.Format("{0:F2}", ViewData["percentA"]) %</p>
        <p>B yüzdesi: @string.Format("{0:F2}", ViewData["percentB"])%</p>
        <p>C yüzdesi: @string.Format("{0:F2}", ViewData["percentC"])%</p>
    </div>

    <div class="charts-container">
        <div class="chart">
            <div id="ButunKatilimciler"></div>
        </div>
        <div class="chart">
            <div id="Ogrenciler"></div>
        </div>
        <div class="chart">
            <div id="Kurumici"></div>
        </div>
        <div class="chart">
            <div id="KurumDisi"></div>
        </div>
        <div class="chart">
            <div id="Muhendisler"></div>
        </div>
        <div class="chart">
            <div id="Doktor"></div>
        </div>
        <div class="chart">
            <div id="Memur"></div>
        </div>
        <div class="chart">
            <div id="Mudur"></div>
        </div>
    </div>

    <script>
        // JavaScript değişkenlerine verileri aktarın
        var yuzdeA = parseFloat("@ViewData["percentA"]") || 0;
        var yuzdeB = parseFloat("@ViewData["percentB"]") || 0;
        var yuzdeC = parseFloat("@ViewData["percentC"]") || 0;

        // CanvasJS ile grafik oluşturma
        var chart1 = new CanvasJS.Chart("ButunKatilimciler", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Genel Anket Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "doughnut",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: yuzdeA, label: "Cevap A" },
                    { y: yuzdeB, label: "Cevap B" },
                    { y: yuzdeC, label: "Cevap C" }
                ]
            }]
        });
        chart1.render();

        // ogrenciler
        var ogrenciA = parseFloat("@ViewData["percentAOgrenci"]") || 0;
        var ogrenciB = parseFloat("@ViewData["percentBOgrenci"]") || 0;
        var ogrenciC = parseFloat("@ViewData["percentCOgrenci"]") || 0;


        // CanvasJS ile grafik oluşturma
        var chart2 = new CanvasJS.Chart("Ogrenciler", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Öğrenciler Anket Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "doughnut",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: ogrenciA, label: "Cevap A" },
                    { y: ogrenciB, label: "Cevap B" },
                    { y: ogrenciC, label: "Cevap C" }
                ]
            }]
        });

        chart2.render();

        // Kurum içi anket verilerini çekme
        var kurumiciA = parseFloat("@ViewData["percentAKurumici"]") || 0;
        var kurumiciB = parseFloat("@ViewData["percentBKurumici"]") || 0;
        var kurumiciC = parseFloat("@ViewData["percentCKurumici"]") || 0;

        // Kurum içi anket sonuçlarını gösterme
        var chart3 = new CanvasJS.Chart("Kurumici", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Kurum İçi Anket Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: kurumiciA, label: "Cevap A" },
                    { y: kurumiciB, label: "Cevap B" },
                    { y: kurumiciC, label: "Cevap C" }
                ]
            }]
        });
        chart3.render();

        // Kurumdisi
        var kurumdisiA = parseFloat("@ViewData["percentAKurumdisi"]") || 0;
        var kurumdisiB = parseFloat("@ViewData["percentBKurumdisi"]") || 0;
        var kurumdisiC = parseFloat("@ViewData["percentCKurumdisi"]") || 0;


        // CanvasJS ile grafik oluşturma
        var chart4 = new CanvasJS.Chart("KurumDisi", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Genel Anket Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: kurumdisiA, label: "Cevap A" },
                    { y: kurumdisiB, label: "Cevap B" },
                    { y: kurumdisiC, label: "Cevap C" }
                ]
            }]
        });

        chart4.render();



        // Mühendis anket verilerini çekme
        var muhendisA = parseFloat("@ViewData["percentAMuhendis"]") || 0;
        var muhendisB = parseFloat("@ViewData["percentBMuhendis"]") || 0;
        var muhendisC = parseFloat("@ViewData["percentCMuhendis"]") || 0;

        // Mühendis anket sonuçlarını gösterme
        var chart5 = new CanvasJS.Chart("Muhendisler", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Mühendis Anket Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: muhendisA, label: "Cevap A" },
                    { y: muhendisB, label: "Cevap B" },
                    { y: muhendisC, label: "Cevap C" }
                ]
            }]
        });
        chart5.render();

       

        //Doktor anket verilerini çekme
        var doktorA = parseFloat("@ViewData["percentADoktor"]") || 0;
        var doktorB = parseFloat("@ViewData["percentBDoktor"]") || 0;
        var doktorC = parseFloat("@ViewData["percentCDoktor"]") || 0;

        // doktor grafiği gösterme
        var chart6 = new CanvasJS.Chart("Doktor", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Doktor Grafik Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: doktorA, label: "Cevap A" },
                    { y: doktorB, label: "Cevap B" },
                    { y: doktorC, label: "Cevap C" }
                ]
            }]
        });
        chart6.render();

        //Memur anket verilerini çekme
        var memurA = parseFloat("@ViewData["percentAMemur"]") || 0;
        var memurB = parseFloat("@ViewData["percentBMemur"]") || 0;
        var memurC = parseFloat("@ViewData["percentCMemur"]") || 0;

        // Mur grafiği gösterme
        var chart7 = new CanvasJS.Chart("Memur", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Memur Grafik Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: memurA, label: "Cevap A" },
                    { y: memurB, label: "Cevap B" },
                    { y: memurC, label: "Cevap C" }
                ]
            }]
        });
        chart7.render();

        //Mudur anket verilerini çekme
        var mudurA = parseFloat("@ViewData["percentAMudur"]") || 0;
        var mudurB = parseFloat("@ViewData["percentBMudur"]") || 0;
        var mudurC = parseFloat("@ViewData["percentCMudur"]") || 0;
        // Mudur grafiği gösterme
        var chart8 = new CanvasJS.Chart("Mudur", {
            theme: "light2",
            animationEnabled: true,
            title: {
                text: "Memur Grafik Sonuçları",
                fontSize: 20
            },
            data: [{
                type: "pie",
                showInLegend: true,
                legendText: "{label}",
                indexLabelFontSize: 12,
                indexLabel: "{label} - {y}%",
                dataPoints: [
                    { y: mudurA, label: "Cevap A" },
                    { y: mudurB, label: "Cevap B" },
                    { y: mudurC, label: "Cevap C" }
                ]
            }]
        });
        chart8.render();
    </script>
</body>
</html>
